/* Navigation buttons */
.nav a{
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255);
   
}
.nav a:hover {

    box-shadow: 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255);
   transform: translateY(10px);
}
.nav {
  margin-top: 20px;
}

.nav a {
    border:#c08989 solid 2px;
     font-family: 'Press Start 2P', cursive;
  display: inline-block;
  margin: 0 5px;
  padding: 10px 15px;
  font-size: small;
  background: #e2a6b5;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.nav a:hover {
  background: #d18595;
}
.nav a:active {
    cursor: url('https://www.rw-designer.com/cursor-detail/108235'), pointer;

}

https://www.rw-designer.com/cursor-detail/108250
https://www.rw-designer.com/cursor-detail/120490
https://www.rw-designer.com/cursor-detail/162752
https://www.rw-designer.com/cursor-detail/162979